body {
    background-color: #F0F2F5 !important;
}

@media (max-width: 400px) {
    
    .card_form{
        width: 340px !important;
    }

}

.custum-file-upload {
    height: 150px;
    width: 230px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }

  .hasfile{
    border: 2px dashed #0130F1;
  }

  .nofile{
    border: 2px dashed #cacaca;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }

  .input_email_field {
    width: 100%;
    height: 42px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_email_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 1px #128512;
    background-color: transparent;
  }

  .my_spinner {
    /* position: absolute; */
    width: 128px;
    height: 128px;
    top: calc(50% - 64px);
    left: calc(50% - 64px);
    transform: perspective(206px) rotateX(45deg);
    margin: 0 auto;
    margin-bottom: 1.4em;
  }
  
  .my_outer {
    box-sizing: border-box;
    animation: spin 3s linear infinite;
    height: 100%;
  }
  
  .my_inner {
    position: absolute;
    border-radius: 50%;
    width: 64px;
    height: 64px;
  }
  
  .tll {
    top: 0;
    left: 0;
    border-top: 8px solid #0ac555;
    border-left: 10px solid #0ac555;
    animation: spin 1s ease-in-out infinite;
  }
  
  .trr {
    top: 0;
    right: 0;
    border-top: 8px solid #0575E6;
    border-right: 10px solid #0575E6;
    animation: spin 1s ease-in-out infinite;
  }
  
  .brr {
    bottom: 0;
    right: 0;
    border-bottom: 8px solid  #0ac555;
    border-right: 10px solid  #0ac555;
    animation: spin 1s ease-in-out infinite;
  }
  
  .bll {
    bottom: 0;
    left: 0;
    border-bottom: 8px solid  #0575E6;
    border-left: 10x solid #0575E6;
    animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }