.container {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1.title-survey {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    margin: 0 0 15px;
    line-height: 1.33;
}

h2.subtitle-survey {
    text-align: center;
    font-weight: normal;
    font-size: 1.3em;
    margin: 0 0 15px;
    line-height: 1.33;
}

p.question {
    display: block;
    font-size: 1.2em;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 0;
}

p.hint {
    font-size: 0.8em;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

.radio-options {
    display: flex;
    flex-direction: column;
}

.radio-option {
    margin-bottom: 16px;
}

.radio-label {
    margin-left: 8px;
}

#button-send {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.header-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 2%;
}

.comments-textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    /* Permite al usuario redimensionar verticalmente */
    font-family: Arial, sans-serif;
    /* Fuente preferida */
    font-size: 16px;
    /* Tamaño de fuente */
    line-height: 1.5;
    /* Altura de línea para una mejor legibilidad */
}

.comments-textarea:focus {
    outline: none;
    /* Elimina el contorno al enfocar */
    border-color: dodgerblue;
    /* Cambia el color del borde al enfocar */
}

/* Estilos opcionales para el marcador de posición */
.comments-textarea::placeholder {
    color: #999;
    /* Color del texto del marcador de posición */
}